asgiref==3.7.2
beautifulsoup4==4.12.2
Brotli==1.1.0
bs4==0.0.1
cffi==1.15.1
cssselect2==0.7.0
Django==4.2.5
django-tinymce==3.6.1
django-weasyprint==2.2.1
djangorestframework==3.14.0
fonttools==4.42.1
gunicorn==21.2.0
html5lib==1.1
packaging==23.1
Pillow==10.0.1
psycopg2-binary==2.9.7
pycparser==2.21
pydyf==0.7.0
PyMySQL==1.1.0
PyPDF2==3.0.1
pyphen==0.14.0
pytz==2023.3.post1
reportlab==4.0.5
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tinycss2==1.2.1
weasyprint==59.0
webencodings==0.5.1
zopfli==0.2.3
