.page_main {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    background: #add8e68e;
    color: #000000;
}

.page_pdf {
    color: white;
}

body {
    width: 75%;
    background: #fff;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

#header {
    padding: 10px;
    text-align: center;
}

#content {
    padding: 20px;
}

#footer {
    padding: 10px;
    text-align: center;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 20px;
    border: 1px solid;
}

#table-header {
    background-color: #fff;
}

.table th,
.table td {
    text-align: left;
    padding: 8px;
    border: 1px solid;
}

#tituloTable,
#tituloTable2 {
    text-align: center;
}

#img {
    margin-right: 75%;
    width: 20%;
}

#footer {
    margin-left: 600px;
}

#box-field {
    border: solid 1px black;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#box-field table {
    width: 200px;
}

#ass,
#em {
    text-align: left;
    padding-left: 10px;
}

#image-name {
    text-align: center;

}

#memo_numero {
    font-size: 0.9em;
}

#section-detail {
    text-align: center;
    margin-bottom: 20px;
}

#section-detail {
    margin-top: 100px;
}

main#corpo {
    display: table;
    margin: auto;
}

.tr-file {
    border: 2px solid black;
    text-align: center;
}

main {
    margin-top: 5%
}

.td-file {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-decoration: none;
}


#box-file {
    width: 40%;
    display: inline;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: -10.9%;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

#drop-area {
    border: 2px dashed black;
    background-color: #cbe9f38e;
    width: 60%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: auto
}

#italic-message {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 12px;
}

#verify-message {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

#title-footer {
    text-align: center;
    font-size: 165%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}

#name-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    padding: 2px;
}

#label-file {
    text-align: center;
    font-size: 20px;
}

#main-file {
    margin: 0 auto;
    text-align: center;
}

#input-container {
    margin-top: -20px;
    padding-left: 55px;
}

#botao {
    border-radius: 20px;
    background: #a7e5fa;
    color: #333333;
    border-style: solid;
    border-color: black;
    height: 50px;
    width: 200px;
    font: bold 20px times;
    text-shadow: none;
}

#select-secretaria {
    text-align: center;
    width: 100%;
}

#select-secretaria #option-disabled{
    text-align: center;
    color: #333333c5;
}

#botao:hover {
    text-decoration: none;
    background: #78dcfd;
}

#button-file {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#file-margin {
    margin-top: 5px;
}

#id_file {
    display: block;
    width: 100%;
    margin: 0 auto 0 auto;
    max-width: 100%;
    margin-right: 50.1px;
}

#container-file {
    display: flex;
    flex-direction: column;
}

#title-upload {
    text-align: center;
}

#subtitle-upload {
    text-align: center;
}

#botao-upload {
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    width: 100px;
    height: 40px;
}

#botao-back {
    display: block;
    margin: 0 auto;
    border-style: solid;
    width: 200px;
    height: 40px;
}

#box-upload {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 55%;
}

#box-upload-main {
    border: 2px solid black;
    background-color: #cbe9f38e;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 105%;
}

#link-upload {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 7px;
}

#link-upload-pdf {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 7px;
    width: 27%;
}

#link-upload:hover {
    text-decoration: none;
    color: cyan;
}

#link-container {
    text-align: center;
}

#label-file {
    pointer-events: none;
}

@media screen and (max-width: 1290px) {
    #box-field {
        margin-right: 200px;
    }

    #box-upload {
        width: 350px;
    }

    #drop-area {
        width: 350px;
    }

    #corpo {
        height: 10px;
    }

}

.cor {
    background-color: transparent;
}

#formFileSm {
    width: 105%;
}

#form-main {
    width: 90%;
    background: #fff;
    margin: 0 auto;
}

#corpo {
    display: block;
    margin: auto;
    width: 250px;
    height: 120px;
}

#main-file-detail {
    background-color: transparent;
}

#box-file-detail {
    width: 50%;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    margin: 0 auto;

}

.style-p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 35px;
}

#titulo-file-detail {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

#error-message {
    font-size: 0.8em;
    margin: auto;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.cancel-button {
    background-color: rgba(214, 140, 140, 0.836);
   margin-bottom: 17px;
}

.cancel-button:hover {
    background-color: rgb(209, 97, 97);
    color: black;
}

#addInput {
    margin-left: 20px;
    background-color: rgba(157, 230, 157, 0.815);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 18px ;
    justify-content: center;
}

#addInput:hover {
    background-color: rgb(107, 216, 107);
    color: black;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.cancel-button {
    margin-right: 5px;
    color: #333;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#meuModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#meuModalMemorando {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 68%;
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    width: 3%;
    align-self: flex-end;
}

.fecharMemorando {
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    width: 3%;
    align-self: flex-end;
}

.fechar:hover,
.fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.fecharMemorando:hover,
.fecharMemorando:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.imgModal {
    margin: 0;
    align-self: center;
}

hr {
    margin-bottom: 0;
    margin-top: 0;
}

#buttonYesModal {
    width: 35%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(157, 230, 157, 0.815);
    border: 0.2px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
}

#buttonYesModalMemorando {
    width: 35%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(157, 230, 157, 0.815);
    border: 0.2px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
}

#buttonNoModal {
    width: 35%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(214, 140, 140, 0.836);
    border: 0.2px solid black;
    border-radius: 15px;
}

#buttonNoModalMemorando {
    width: 35%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(214, 140, 140, 0.836);
    border: 0.2px solid black;
    border-radius: 15px;
}

#buttonNoModal:hover {
    background-color: rgb(209, 97, 97);
}

#buttonNoModalMemorando:hover {
    background-color: rgb(209, 97, 97);
}

#buttonYesModal:hover {
    background-color: rgb(107, 216, 107);
}

#buttonYesModalMemorando:hover {
    background-color: rgb(107, 216, 107);
}

#spanMessage {
    color: rgb(3, 117, 3);
    font-size: 0.7em;
    margin-bottom: 0;
}

.tox-notifications-container {
    display: none;
}

.tox .tox-statusbar a,
.tox .tox-statusbar__path-item,
.tox .tox-statusbar__wordcount {
    color: rgba(34, 47, 62, .7);
    text-decoration: none;
    display: none;
}

#img-pdf {
    width: 25%;
    padding-right: 5px;
}

.bg-custom {
    background-color: #d3d3d3;
}

#drop-area p {
    color: black;
    font-size: 20px;
    text-align: center;
}

#searchInput {
    margin: auto;
    display: block;
    margin-top: 10px;
    width: 50%;
}
#img-remove{
    width: 25px;
}
  
#img-add{
    width: 20px;
}
