.page_main {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    background: #add8e68e;
    color: #000000;
}

#erro_page {
    background: #add8e68e;
}

.page_pdf {
    color: white;
}

body {
    width: 75%;
    background: #fff;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

#header {
    padding: 10px;
    text-align: center;
}

#content {
    padding: 20px;
}

#footer {
    padding: 10px;
    text-align: center;
    margin-left: 67%;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
    border: 2px solid;
}

#table-header {
    background-color: #fff;
}

.table th,
.table td {
    text-align: left;
    padding: 8px;
    border: 1px solid;
}

#tituloTable,
#tituloTable2 {
    text-align: center;
    font-weight: bold;
}

#img {
    margin-right: 75%;
    width: 30%;
}

#box-field {
    border: solid 1px black;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#box-field table {
    width: 200px;
}

#ass,
#em {
    text-align: left;
    padding-left: 10px;
}

#image-name {
    text-align: center;
}

#memo_numero {
    font-size: 0.9em;
}

#section-detail {
    text-align: center;
    margin-bottom: 20px;
}

#section-detail {
    margin-top: 100px;
}

main#corpo {
    display: table;
    margin: auto;
}

.tr-file {
    border: 2px solid black;
    text-align: center;
}

main {
    margin-top: 5%;
}

.td-file {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    text-decoration: none;
}

#box-file {
    width: 40%;
    display: inline;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: -10.9%;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

#drop-area {
    border: 2px dashed black;
    background-color: #cbe9f38e;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 5%;
}

#italic-message {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 12px;
}

#verify-message {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

#title-footer {
    text-align: center;
    font-size: 165%;
    font-family: "Times New Roman", Times, serif;
    margin-top: 50px;
}

#name-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    padding: 2px;
}

#label-file {
    text-align: center;
    font-size: 20px;
}

#main-file {
    margin: 0 auto;
    text-align: center;
}

#input-container {
    margin: 0 auto;
    display: inline-grid;
}

#botao {
    border-radius: 20px;
    border: 0.2px solid black;
    width: 200px;
    font: bold 20px times;
    background-color: #cff4fc;
}

#botao:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#select-secretaria {
    text-align: center;
    width: 100%;
}

#select-secretaria #option-disabled {
    text-align: center;
    color: #333333c5;
}

#button-file {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#file-margin {
    margin-top: 50px;
}

#id_file {
    display: block;
    margin-right: 50px;
    width: 358.094px;
    border-radius: 20px;
}

#title-upload {
    text-align: center;
}

#subtitle-upload {
    text-align: center;
}

#botao-upload {
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    width: 100px;
    height: 40px;
}

#botao-back {
    display: block;
    margin: 0 auto;
    border-style: solid;
    width: 200px;
    height: 40px;
}

.box-upload {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 55%;
    margin-top: 20%;
}

#box-upload-main {
    border: 2px solid black;
    background-color: #cbe9f38e;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 105%;
}

#link-upload {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 7px;
}

#link-upload-pdf {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 7px;
    width: 35%;
}

#link-upload:hover {
    text-decoration: none;
    /* color: cyan; */
    cursor: pointer;
    transform: scale(1.1);
    background-color: #4CAF50;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#link-upload-pdf:hover {
    text-decoration: none;
    /* color: cyan; */
    cursor: pointer;
    transform: scale(1.1);
    background-color: #4CAF50;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
}

.link-container {
    text-align: center;
}

#label-file {
    pointer-events: none;
}

/*@media screen and (max-width: 1290px) {
    #box-field {
        margin-right: 200px;
    }

    #box-upload {
        width: 350px;
    }

    #drop-area {
        width: 350px;
    }

    #corpo {
        height: 10px;
    }

}
*/

.cor {
    background-color: transparent;
}

#formFileSm {
    width: 105%;
}

#form-main {
    width: 90%;
    background: #fff;
    margin: 0 auto;
}

#corpo {
    display: block;
    margin: auto;
    width: 250px;
    height: 120px;
}

#main-file-detail {
    background-color: transparent;
}

#box-file-detail {
    width: 50%;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    margin: 0 auto;
}

.style-p {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    line-height: 35px;
}

#titulo-file-detail {
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
}

#error-message {
    font-size: 0.8em;
    margin: auto;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#container_and_button,
#container_and_button-copia {
    display: flex;
    align-items: center;
}

.select-wrapper,
.select-wrapper-copia {
    margin: 10px;
}

#addSelect:hover,
#addSelectCopia:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#addSelect,
#addSelectCopia {
    margin-right: 10px;
    background-color: #479f76;
    border-radius: 60px;
    cursor: pointer;
    width: 32.5px;
    height: 32.5px;
    padding: 1px;
    align-self: baseline;
    border: 2px solid black;
    margin-top: 7px;
}

.feather.feather-plus-circle.feather-icon-file-plus.custom-icon {
    padding: 1px;
}

.addInput:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addInput {
    margin-left: -40px;
    background-color: #479f76;
    border-radius: 60px;
    cursor: pointer;
    width: 32.5px;
    height: 32.5px;
    padding: 1px;
    align-self: baseline;
    border: 2px solid black;
    /*
    margin-left: 20px;
    background-color: #479F76;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    justify-content: center;
    */
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.cancel-button:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cancel-button {
    margin-right: 10px;
    background-color: #e35d6a;
    border-radius: 60px;
    cursor: pointer;
    width: 32.5px;
    height: 32.5px;
    padding: 1px;
    align-self: baseline;
    border: 2px solid black;
    margin-bottom: -10px;

    /*
    margin-right: 5px;
    background-color: #E35D6A;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    */
}

.modal-content-login {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 43%;
    height: 23%;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#modal-login {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#meuModal,
#modal-upload,
#modal-sair,
#modal-pdf,
#modal-trocar {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#modal-trocar {
    height: 110%;
}

#msg-troca {
    margin-top: 0;
}

@keyframes loadingAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#message-aviso {
    color: #00cc00;
    margin-top: -20px;
    animation: loadingAnimation 1.5s ease-in-out infinite;
}

#meuModalMemorando {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* .modal-content-span {
    height: 28%;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 43%;
    padding-right: 15px;
    padding-left: 15px;
} */

.modal-content p {
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 43%;
    height: 23%;
    padding-right: 15px;
    padding-left: 15px;
}

.modal-content-memorando {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 43%;
    height: 23%;
    padding-right: 15px;
    padding-left: 15px;
}

.modal-body {
    padding-top: 20px;
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    width: 3%;
    align-self: flex-end;
}

.fechar-sair {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    width: 3%;
    align-self: flex-end;
}

.fechar-trocar {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    width: 3%;
    align-self: flex-end;
}

.fechar-pdf {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    width: 3%;
    align-self: flex-end;
}

.fecharMemorando {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    width: 3%;
    align-self: flex-end;
}

.fechar:hover,
.fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.fechar-trocar:hover,
.fechar-trocar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.fechar-pdf:hover,
.fechar-pdf:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.fechar-sair:hover,
.fechar-sair:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.fecharMemorando:hover,
.fecharMemorando:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.imgModal {
    margin: 0;
    align-self: center;
}

hr {
    margin-bottom: 0;
    margin-top: 0;
}

#buttonNoModal,
#buttonNoModalMemorando,
#buttonNoSair,
#nao-envia-modal {
    background-color: #e35d6a;
}

#buttonYesModal,
#buttonYesModalMemorando,
#buttonYesSair #envia-modal {
    background-color: #479f76;
}

#memorandoComum:hover,
#memorandoCircular:hover,
#oficio:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#button-container-troca {
    display: flex;
    justify-content: space-between;
}

#memorandoComum {
    padding: 10px;
}

#memorandoCircular {
    padding: 10px;
}

#oficio {
    padding: 10px;
}

#buttonNoModal:hover,
#buttonNoModalMemorando:hover,
#nao-envia-modal:hover,
#buttonNoSair:hover {
    background-color: #e62c3e;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#buttonYesModal:hover,
#buttonYesModalMemorando:hover,
#envia-modal:hover,
#buttonYesSair:hover {
    background-color: #6ae9ae;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#ok-modal:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#ok-modal-pdf:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#buttonNoModal,
#buttonYesModal,
#buttonNoModalMemorando,
#buttonYesModalMemorando,
#envia-modal,
#nao-envia-modal,
#buttonYesSair,
#buttonNoSair,
#ok-modal,
#ok-modal-pdf {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    border: 0.2px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
}

#spanMessage {
    color: rgb(3, 117, 3);
    font-size: 0.7em;
    text-align: center;
    margin-bottom: -1px;
}

.tox-notifications-container {
    display: none;
}

.tox .tox-statusbar a,
.tox .tox-statusbar__path-item,
.tox .tox-statusbar__wordcount {
    color: rgba(34, 47, 62, 0.7);
    text-decoration: none;
    display: none;
}

#img-pdf {
    width: 25%;
    padding-right: 5px;
}

.bg-custom {
    background-color: #d3d3d3;
}

#uploadFile, #message-file{
    color: black;
    font-size: 0.8em;
    text-align: center;
}

#message-file{
    margin-top: -3%;
}

#searchInput {
    margin: auto;
    display: block;
    margin-top: 10px;
    width: 50%;
}

.img-remove {
    width: 25px;
}

#img-add {
    width: 20px;
}

#table-generate {
    width: 80%;
}

#hr-generate {
    width: 100%;
    margin: 0;
    padding: 0;
}

#box-field-generate {
    border: solid 1px black;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    margin-left: 50px;
}

#campo-assunto {
    text-align: center;
}

#meuModalAssunto {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.button-container {
    display: flex;
    margin-top: 15px;
}

.button-container button {
    margin-right: 10px;
}

#span-alert {
    margin-left: 50px;
    margin-top: 20px;
}

#corpo-memorando-pdf {
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    cursor: not-allowed;
}

#container-modal-atencao {
    margin-top: -4%;
}

#container-modal-memo {
    margin-top: -1%;
}

.th-generate {
    width: 200px;
}

.td-generate {
    width: 200px;
}

#id_assunto,
#copia-oficio,
#para-oficio {
    width: 75%;
}

#id_assunto,
#para-oficio,
#copia-oficio {
    background-color: #fff;
}

.file-input {
    width: 358.094px;
    height: 21px;
}

#select-table,
#select-table-copia {
    display: inline-block;
}

#btnSair {
    text-decoration: none;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

#btnTrueSair {
    float: right;
    margin-right: 5px;
}

#btnTrueSair:hover {
    float: right;
    transform: scale(1.1);
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btnTroca {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    margin-left: 5px;
}

#btnTroca:hover {
    float: right;
    transform: scale(1.1);
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* CSS para a página de login */

#login-box {
    border-radius: 30px;
    border: 1px solid black;
    text-align: center;
    width: 40%;
    height: fit-content;
    margin-top: 10%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-shadow: rgb(12, 12, 12);
    padding: 20px;
}

#login-box p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#login-box button {
    margin-bottom: 30px;
}

#body-login {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #add8e68e;
}

#input-container-login {
    text-align: right;
    padding-left: 0px;
    width: 70%;
    margin-top: 5%;
}

#html-login {
    width: 100%;
    height: 100%;
    background-image: url(/static/img/img-memo-login.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.cancel-button-select:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cancel-button-select{
    margin-right: 10px;
    background-color: #e35d6a;
    border-radius: 60px;
    cursor: pointer;
    width: 32.5px;
    height: 32.5px;
    padding: 1px;
    align-self: baseline;
    border: 2px solid black;
    padding-top: -7px;
    display: inline-grid;
}

#td-table-memo hr {
    margin: 7px 0;
}

.title-login {
    text-shadow: 0px 4px 10px rgba(179, 147, 211, 0.8);
    font-style: italic;
}

#button-submit-login:hover {
    transform: scale(1.1);
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#cadastro-login:hover {
    transform: scale(1.1);
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btn_to_upload:hover {
    transform: scale(1.1);
    /* margin-left: 10px; */
    /* text-decoration: none; */
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#button_to_sessao:hover {
    transform: scale(1.1);
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#id_file1 {
    display: block;
    margin: 0 auto;
    margin-right: 50px;
    width: 358.094px;
    border-radius: 20px;
    margin-bottom: -17px;
}

#icon-files {
    font-size: 60px;
}

#div-icon {
    text-align: center;
    margin-top: -75px;
}

#corpo-pdf {
    margin: 0 auto;
    size: A4;
    width: 179mm;
    height: 293mm;
}

#content-pdf {
    width: 100%;
}

.dot {
    animation: dotAnimation 1.5s infinite;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

@keyframes dotAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#first-dot {
    animation-delay: 0s;
}

#second-dot {
    animation-delay: 0.5s;
}

#third-dot {
    animation-delay: 1s;
}

#dot-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#img-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    }

    50% {
        opacity: 0.5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    100% {
        opacity: 1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
}

#imgContainer img {
    animation: fadeIn 3s forwards;
}

@media screen and (max-width: 900px) and (max-height: 900px) {
    body{
        width: 95%;
        margin: 0 auto;
    }
    .table{
        font-size: 12px;

    }
    .table th,td{
        font-size: 13px;
    }
    
    #drop-area{
        width: 90%;
    }
    #meuModal{
        height: auto;
    }
    .modal-content{
        height: 180px;
        width: 430px;
    }
    #span-alert{
        margin-left: auto;

    }
    .modal-body{
        height: 180px;
        width: 430px;
    }
    .modal-content-memorando{
        height: 180px;
        width: 480px;
    }
    .tox-tinymce{
        width: 500px;
    }
    #img{
        width: 30%;
    }
    


}
/* @media screen and (max-height: 900px){
    #body-login{
    height: 110%;
    }
    #login-box{
    width: 500px;
    }
    #link-upload-pdf{
        width: 50%;
    }
} */

@media screen and (min-width: 400px) and (min-height: 150px) {
.modal-content-login{
    height: 180px;
    width: 430px;
}
}

@media screen and (min-width:900px) and (max-height: 700px) {
.modal-body{
    height: 180px;
    width: 430px;
}
.modal-content-memorando{
    height: 180px;
    width: 480px;
}
#meuModal{
    height: auto;
}
.modal-content{
    height: 180px;
    width: 430px;
}
}

.input-group {
    position: relative;
}

.input-group_input {
    font: inherit;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #fff;
    background-color: transparent;
    transition: outline-color 500ms;
}

.input-group_input:is(:focus, :valid){
    outline-color: #3c59cb;
}



.input-group_label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #fff;
    transition: translate 500ms, scale 500ms;
}

.input-group_input:focus + .input_group_label, .input-group_input:valid + .input-group_label {
    padding-inline: 5px;
    translate: 10px 14px;
    scale: 0.9;
    background-color: #000;
}
.tox{
    width: 80%;
    margin: 0 auto;
}

@media screen and (min-width:320px) and (max-width:400px)
{
    .page_main{
        width: 80%;
    }
    body{
        width: 115%;
        margin-left: 5%;
    }

    #link-upload-pdf{
        width: 100%;
    }

    .table{
        font-size: 11px;
        margin-bottom: 25px;
        margin-left: -10px;
        
    }
    .table th,td,tr{
        font-size: 11px;
    }
    .table tr{
        padding: 1px;
        padding-top: -10px;
    }
    #addSelect{
        width: 20px;
        height: 20px;
        border: black solid 1px;
        margin-top: 12px
    }
    #removeSelect{
        width: 20px;
        height: 20px;
        border: black solid 1px;
        margin-top: 12px
    }
    #addSelectCopia{
        width: 20px;
        height: 20px;
        border: black solid 1px;
        margin-top: 12px
    }
    #removeSelectCopia{
        width: 20px;
        height: 20px;
        border: black solid 1px;
        margin-top: 12px
    }
    .tox{
        width:120%;
        margin-left:-30px;
    }
    #drop-area{
        width: 105%;
        margin-left: -9px;
    }
    #id_file1,#id_file{
        width:200px;
    }
    .modal-body{
        width: 200px;
        height: 130px;
    }
    #meuModal{
        height: auto;
    }
    .modal-content{
        width: 300px;
        height: 200px;
        margin-left: 35px;
    }
    .modal-content-memorando{
        width: 250px;
        height: 250px;
        margin-left: 70px;
    }
    .select2-container{
        width: 100px!important;
    }
    #hr-table{
        width:  180px;
    }
    #img{
        width: 30%;
    }
    @media screen and (min-width:320px) and (max-width:350px){
        .table{
            font-size: 75%;
            margin-bottom: 25px;
            margin-left: -10px;
            
        }
        .table th,td,tr{
            font-size: 75%;
        }
        #id_file1,#id_file{
            width:180px;
        }
        #drop-area{
            width: 107%;
            margin-left: -9px;
        }

        #link-upload-pdf{
            width: 100%;
        }

        .modal-content{
        width: 300px;
        height: 200px;
        margin-left: 10px;
        }
        .modal-content-memorando{
        width: 250px;
        height: 250px;
        margin-left: 35px;
        }
        .modal-body{
            width: 200px;
            height: 130px;
        }

    }
}

@media screen and (min-width:400px) and (max-width:500px)
{
    .page_main{
        width: 80%;
    }
    body{
        width: 115%;
        margin-left: 5%;
    }
    .table{
        font-size: 11px;
        margin-left: -30px;
        margin-bottom: 25px;
        
    }

    #link-upload-pdf{
        width: 100%;
    }

    .table th,td,tr{
        font-size: 11px;
    }
    .table tr{
        padding: 1px;
        padding-top: -10px;
    }
    #addSelect{
        width: 23px;
        height: 23px;
        border: black solid 1px;
        margin-top: 12px
    }
    #removeSelect{
        width: 24px;
        height: 24px;
        border: black solid 1px;
        margin-top: 12px
    }
    #addSelectCopia{
        width: 23px;
        height: 23px;
        border: black solid 1px;
        margin-top: 12px
    }
    #removeSelectCopia{
        width: 24px;
        height: 24px;
        border: black solid 1px;
        margin-top: 12px
    }
    .tox{
        width:110%;
        margin-left:-20px;
    }
    #drop-area{
        width: 105%;
        margin-left: -9px;
    }
    #id_file1,#id_file{
        width:245px;
    }
    .modal-body{
        width: 200px;
        height: 130px;
    }
    #meuModal{
        height: auto;
    }
    .modal-content{
        width: 300px;
        height: 200px;
        margin-left: 50px;
    }
    .modal-content-memorando{
        width: 250px;
        height: 250px;
        margin-left: 75px;
    }
    .select2-container{
        width: 160px!important;
    }
    #hr-table{
        width:  250px;
    }
    #addSelect, #addSelectCopia{
        margin-inline-start:4px;
    }
    #img{
        width:30%
    }
    @media screen and (min-width:450px) and (max-width:500px)
    {
        .table{
            font-size: 13px;
            margin-left: -30px;
            margin-bottom: 25px;
            
        }
        .table th,td,tr{
            font-size: 13px;
        }
        #hr-table{
            width:  280px;
        }
        #id_file1,#id_file{
            width:290px;
        }
        #link-upload-pdf{
            width: 100%;
        }
        .select2-container{
            width: 180px!important;
        }
        .modal-content{
            width: 350px;
            height: 200px;
            margin-left: 50px;
        }
        .modal-content-memorando{
            width: 250px;
            height: 250px;
            margin-left: 100px;
        }
    }
    }
@media screen and (min-width:500px) and (max-width:600px){
    .page_main{
        width: 80%;
    }
    body{
        width: 115%;
        margin-left: 5%;
    }
    .table{
        font-size: 14px;
        margin-left:-23px;
        margin-bottom: 25px;
        
    }
    .table th,td,tr{
        font-size: 13px;
    }
    #link-upload-pdf{
        width: 100%;
    }
    #hr-table{
        width: 310px;
    }
    #id_file1,#id_file{
        width:300px;
    }
    .select2-container{
        width: 200px!important;
    }
    .tox{
        width:110%;
        margin-left:-15px;
    }
    #addSelect{
        width: 32.5px;
        height: 32.5px;
        border: black solid 2px;
        margin-top: 10px;
    }
    #removeSelect{
        width:32.5px;
        height:32.5px;
        border: black solid 2px;
        margin-top: 10px;
    }
    #addSelectCopia{
        width: 32.5px;
        height: 32.5px;
        border: black solid 2px;
        margin-top: 10px;
    }
    #removeSelectCopia{
        width: 32.5px;
        height:32.5px;
        border: black solid 2px;
        margin-top: 10px;
    }
    #drop-area{
        width: 100%;
        margin: 0 auto;
    }
    .modal-content{
        width: 350px;
         height: 200px;
        margin-left: 75px;
}
    .modal-content-memorando{
        width: 250px;
        height: 250px;
        margin-left: 150px;
}   
    #img{
        width: 30%;
    }
@media screen and (min-width:570px) and (max-width:600px){
    #hr-table{
        width: 360px;
    }
    #id_file1,#id_file{
        width:330px;
    }
    #link-upload-pdf{
        width: 100%;
    }
    .select2-container{
        width: 250px!important;
    }
    .tox{
        width:110%;
        margin-left:-20px;
    }
    .modal-content{
        width: 350px;
         height: 200px;
        margin-left:100px;
}
    .modal-content-memorando{
        width: 250px;
        height: 250px;
        margin-left: 150px;
}   
}
}

.message-error{
    text-align: center;
}

#title-error {
    text-align: center;
    color: red;
}
@media screen and (min-width:320px) and (max-width:360px){
    #login-box{
        width:300px;
        margin-top: 30%;
    }
    #img-login{
        width:80%;
    }
    .title-login{
        font-size: 20px;
    }
    #id_username{
        width: 170px;
    }
    #id_password{
        width: 170px;
    }  
    #input-container-login{
        width: 95%;
    }
}
@media screen and (min-width:360px) and (max-width:400px){
    #login-box{
        width:340px;
        margin-top: 30%;
    } 
    #id_username{
        width: 170px;
    }
    #id_password{
        width: 170px;
    }  
    #input-container-login{
        width: 89%;
    }
}
    
@media screen and (min-width:400px) and (max-width:500px){
    #login-box{
        width:380px;
        margin-top: 30%;
    } 
    #id_username{
        width: 180px;

    }
    #id_password{
        width: 180px;
    } 
    #input-container-login{
        width: 85%;
    }
}
@media screen and (min-width:500px) and (max-width:600px){
    #login-box{
        width:450px;
        margin-top: 40%;
    } 
    #input-container-login{
        width: 79%;
    }
    

}

@media screen and (min-width:600px) and (max-width:1300px){
    #login-box{
        width:522px;
    } 
    #input-container-login{
        width: 73%;
    }

}