html {
    margin: 0
}
		body {
			font-family: Arial, sans-serif;
		}
		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
		}
		#header {
			padding: 10px;
			text-align: center;
		}
		#content {
			padding: 20px;
		}
		#footer {
			padding: 10px;
			text-align: center;
		}
		.table {
            margin: 0 auto;
			border-collapse: collapse;
			width: 75%;    
			margin-bottom: 20px;
			border: 1px solid;  
		}
		.table th, .table td {
			text-align: left;
			padding: 8px;
			border: 1px solid #ddd;
		}
		.table th {
			background-color: #f2f2f2;
			color: #333;
		}
        #tituloTable{
            text-align: center;
        }
        hr {
            width: 80%;
          
          }
          
        #img{
            margin-right: 50%;
        }
        .linha-vertical {
        position: absolute;
        height: 10%;
        width: 1px;
        background-color: black;
        right: 65%;
        transform: translateX(-50%);
        margin-top: -80px;
        border-width: 1px;
    }
    #box-field{
        width: 13%;
        height: 70px;
        border-radius: 10px;
        margin-left: 70%;

    }
    #ass{
        text-align: left;
    }
    /*.texto {
        text-align: center;
        padding: 150px;
        line-height: 25px;
        margin-top: -90px;
        white-space: pre-line;
      }
      */

