{% extends 'template.html' %}
{% block subtitulo %}
- Consulta
{% endblock %}
{% block content %}

<html class="consulta-page">

<head>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body id="consulta-body">
    <div class='search-box'>
        <a href="{% url 'loginPage' %} "><img id="perfil" style="float: left;" src="/static/img/menu.png" width="30"
            alt="perfil"></a>
            <img width="200" src="https://pedroschuenck.github.io/prefeituraImg.png" alt="Logo da prefeitura" />
        <form method='post'>
         {% csrf_token %}
            <div id="tipo-e-ano">
                <div class="input-group mb-3 divConsulta" id="tipo-consulta">
                    <span class="input-group-text input-consulta" id="inputGroup-sizing-default-type" style="width: 50%;">Tipo</span>
                        <select class="select2 selects" name='tipo_moc' id="tipo-select-consulta" style="width: 48%;">
                            <option value='Memorando' selected>Memorando Comum</option>
                            <option value='Oficio'>Ofício</option>
                            <option value='Circular'>Circular</option>
                        </select>
                </div>
                <div id="numero-consulta" class="input-group mb-3 divSubmit">
                    <span class="input-group-text" id="inputGroup-sizing-default-number">N° do memorando</span>
                    <input id="numBusca" name='numBusca' type="text" class="form-control input-consulta" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    {% comment %} <button id="clearButton" type="button"><img width="30" src="/static/img/remove.png" alt="X"></button> {% endcomment %}
                </div>
            </div> 

            <div id="consulta-search">
                <div class="input-group mb-3 divConsulta">
                    <span class="input-group-text input-consulta" id="inputGroup-sizing-default-ano" style="width: 50%;">Ano</span>
                        <select class="select2 selects"  name='ano' id="ano-select-consulta" style="width: 50%;">
                            <option value='2023' selected>2023</option>
                            <option value='2024'>2024</option>
                            <option value='2025'>2025</option>
                            <option value='2026'>2026</option>
                            <option value='2027'>2027</option>
                            <option value='2028'>2028</option>
                            <option value='2029'>2029</option>
                            <option value='2030'>2030</option>
                        </select>
                </div>
                <div id="assunto-consulta" class="input-group mb-3 divSubmit">
                    <span class="input-group-text" id="inputGroup-sizing-default-topic">Assunto - MOC</span>
                    <input id="termoBusca" name='termoBusca'type="text" class="form-control input-consulta" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    {% comment %} <button id="removeBusca" type="button"><img width="30" src="/static/img/remove.png" alt="X"></button> {% endcomment %}
                </div>  
            </div>

            <div id="tipo-e-ano">
                <div class="input-group mb-3 divSubmit">
                    <span class="input-group-text" id="inputGroup-sizing-default-number">Destinatário</span>
                    <input id="destinatario" name='destinatario' type="text" class="form-control input-consulta" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    {% comment %} <button id="clearButton" type="button"><img width="30" src="/static/img/remove.png" alt="X"></button> {% endcomment %}
                </div>
                <div class="input-group mb-3 divSubmit" style="margin-left: 3%;">
                    <span class="input-group-text" id="inputGroup-sizing-default-number">Remetente</span>
                    <input id="remetente" name='remetente' type="text" class="form-control input-consulta" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    {% comment %} <button id="clearButton" type="button"><img width="30" src="/static/img/remove.png" alt="X"></button> {% endcomment %}
                </div>
            </div> 
            <div class="d-flex justify-content-center">
                <button type="submit" id="submit-consulta" class="btn btn-outline-primary btn-lg"><img width="25" height="25" src="/static/img/lupa.png" alt="Pesquisar"></button>
            </div>
        </form>
 </div>


    {% if buscando %}
    <div class="query_result">
    <table class="query_table">
        <thead>
            <tr>
                <th style="border-right: 1px solid black">N° M.O.C.</th>
                <th style="border-right: 1px solid black">Remetente</th>
                <th style="border-right: 1px solid black">Assunto</th>
                <th>Ver M.O.C.</th>
            </tr>
        </thead>
        <tbody>

            {% if tipo == 'Memorando'%}
            {% for obj in objectList %}
            <tr>
                <td style="font-family: 'Times New Roman', Times, serif;">{{ obj.memo_numero }}</td>
                <td style="font-family: 'Times New Roman', Times, serif;" >{{obj.remetente.groups.first.name}} - {{obj.remetente.get_full_name}}</td>
                <td style="font-family: 'Times New Roman', Times, serif; border-right: 1px solid black;">{{ obj.assunto }}</td>
                <td><a class="styled-link" href="{% url 'visualiza_moc' obj.id tipo %}">Detalhes</a></td>
            </tr>
            {% endfor %}
            {% endif %}

            {% if tipo == 'Oficio'%}
            {% for obj in objectList %}
            <tr>
                <td style="font-family: 'Times New Roman', Times, serif;">{{ obj.memo_numero_oficio }}</td>
                <td style="font-family: 'Times New Roman', Times, serif;" >{{obj.remetente_oficio.groups.first.name}} - {{obj.remetente_oficio.get_full_name}}}</td>
                <td style="font-family: 'Times New Roman', Times, serif; border-right: 1px solid black;">{{ obj.assunto_oficio }}</td>
                <td><a class="styled-link" href="{% url 'visualiza_moc' obj.id tipo %}">Detalhes</a></td>
            </tr>
            {% endfor %}
            {% endif %}

            {% if tipo == 'Circular'%}
            {% for obj in objectList %}
            <tr>
                <td style="font-family: 'Times New Roman', Times, serif;">{{ obj.memo_numero_circular }}</td>
                <td style="font-family: 'Times New Roman', Times, serif;" >{{obj.remetente_circular.groups.first.name}} - {{obj.remetente_circular.get_full_name}}</td>
                <td style="font-family: 'Times New Roman', Times, serif; border-right: 1px solid black;">{{ obj.assunto_circular }}</td>
                <td><a class="styled-link" href="{% url 'visualiza_moc' obj.id tipo %}">Detalhes</a></td>
            </tr>
            {% endfor %}
            {% endif %}
            
            

        </tbody>
    </table>
    {% if objectList|length == 0 %}
        <p id="nenhumMemo">Nenhum encontrado</p>
    {% endif %}
    </div>
    {% endif %}

<script src="/static/js/consulta.js"></script>
<script>
   
   document.addEventListener("DOMContentLoaded", function () {
            let inputNumero = document.getElementById("numBusca");
            let storedNumero = localStorage.getItem("numBusca");
            if (storedNumero) {
                inputNumero.value = storedNumero;
            }
        });

        document.querySelector("form").addEventListener("submit", function (event) {
            let inputNumero = document.getElementById("numBusca");
            localStorage.setItem("numBusca", inputNumero.value);
        });

    document.addEventListener("DOMContentLoaded", function () {
            let termoBusca = document.getElementById("termoBusca");
            let storedTermo = localStorage.getItem("termoBusca");
            if (storedTermo) {
                termoBusca.value = storedTermo;
            }
        });

        document.querySelector("form").addEventListener("submit", function (event) {
            let termoBusca = document.getElementById("termoBusca");
            localStorage.setItem("termoBusca", termoBusca.value);
    });

    document.addEventListener("DOMContentLoaded", function () {
            let destinatario = document.getElementById("destinatario");
            let storedTermo = localStorage.getItem("destinatario");
            if (storedTermo) {
                destinatario.value = storedTermo;
            }
        });

        document.querySelector("form").addEventListener("submit", function (event) {
            let destinatario = document.getElementById("destinatario");
            localStorage.setItem("destinatario", destinatario.value);
    });

    document.addEventListener("DOMContentLoaded", function () {
            let remetente = document.getElementById("remetente");
            let storedTermo = localStorage.getItem("remetente");
            if (storedTermo) {
                remetente.value = storedTermo;
            }
        });

        document.querySelector("form").addEventListener("submit", function (event) {
            let remetente = document.getElementById("remetente");
            localStorage.setItem("remetente", remetente.value);
    });


    let tipo = "{{tipo}}"; 
    let select = document.getElementById("tipo-select-consulta");
    if (tipo != ""){
        select.value = tipo;
    }

</script>
    
</body>

</html>

{% endblock %}