{% extends 'template.html' %}
{% block subtitulo %}
-- file_detail
{% endblock %}
{% block content %}

</fieldset>
<section id="section-detail">
    <main id="corpo">
        <table border="1" id="table-file">
            <!-- <tr>
        <td><p id="image-name">{{ image.name }}</p></td>
    </tr> -->
            <tr class="tr-file">
                <td class="td-file">
                    <p>Tamanho do arquivo: {{ image_size_mb }} MB</p>
                </td>
            </tr>
            <tr class="tr-file">
                <td class="td-file">
                    <p>Data de upload: {{ timestamp }}</p>
                </td>
            </tr>
        </table>
</section>
<!-- upload_success.html -->
</body>
{% endblock %}
