{% extends 'template.html' %}
{% block subtitulo %}
- Detalhes
{% endblock %}
{% block content %}

<body id="main-file-detail">
<link rel="stylesheet" href="/static/css/style.css">
<section id="section-detail">
    <h1 id="titulo-file-detail">Informações do arquivo</h1>
    <fieldset id="box-file-detail">
            <!-- <tr>
        <td><p id="image-name">{{ image.name }}</p></td>
    </tr> -->
            <tr class="tr-file">
                <td class="td-file">
                    <p class="style-p">Tamanho do arquivo: {{ image_size_mb }} MB</p>
                </td>
            </tr>
            <hr>
            <tr class="tr-file">
                <td class="td-file">
                    <p class="style-p">Data de upload: {{ timestamp }}</p>
                </td>
            </tr>
    </fieldset>
</section>
<!-- upload_success.html -->
</body>
{% endblock %}
