{% extends 'template.html' %}
{% block subtitulo %}
-- PDF
{% endblock %}
{% block content %}

<html class="page_pdf">

<body>
    <link rel="stylesheet" href="/static/css/style.css">
    <header>
        <form id="form-main" method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
            {% csrf_token %}
            <div id="header">
                <img id="img" src="https://pedroschuenck.github.io/prefeituraImg.png" alt="Logo da prefeitura">
            </div>
            <hr id="hr-generate">
            <div id="content">
                <table class="table" id="table-generate">
                    <tr>
                        <th id="tituloTable" colspan="2">MEMORANDO</th>
                    </tr>
                    <tr>
                        <th>Data:</th>
                        <td><p style="margin-bottom: 2px;">{{ data_atual }}</p></td>
                    </tr>
                    <tr>
                        <th>Memo nº:</th>
                        <td><span id="memo_numero">{{memorando.memo_numero}}</span></td>
                    </tr>
                    <tr>
                        <th>De:</th>
                        <td>{{ user.groups.first.name }} <hr> {{ user.get_full_name }} </td>
                    </tr>
                    <tr>
                        <th>Para:</th>
                        <td id="secretaria-escolhida">
                            {{ grupo_escolhido }}
                        </td>
                    </tr>
                    <tr>
                        <th>Assunto:</th>
                        <td>
                            <p style="margin-bottom: 2px;">{{ memorando_assunto }}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="footer">
                <p>
                <fieldset id="box-field-generate">
                    <table>
                        <tr>
                            <th id="tituloTable2">RECEBIDO</td>
                        </tr>
                        <tr>
                            <td id="em"> Em: ______ /______ /______</td>
                        </tr>
                        <tr>
                            <td id=ass> Ass: _____________________</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            </footer>
</body>

</html>
{% endblock %}