{% extends 'template.html' %}
{% block subtitulo %}
-- Upload
{% endblock %}
{% block content %}

<body>
    <header>
            <div id="header">
                <link rel="stylesheet" href="/memoApp/static/css/style.css">
                <img  id="img" src="https://pedroschuenck.github.io/prefeituraImg.png" alt="Logo da prefeitura">
                <div class="linha-vertical"></div>
            </div>
            <hr>
            <div id="content">
                <table class="table">
                    <tr>
                        <th id="tituloTable" colspan="2">MEMORANDO</th>
                    </tr>
                    <tr>
                        <th>Data:</th>
                        <td><input type="date"></td>
                    </tr>
                    <tr>
                        <th>Memo n°:</th>
                        <td><input type="number"></td>
                    </tr>
                    <tr>
                        <th>De:</th>
                        <td>[Lugar de onde está sendo enviado]</td>
                    </tr>
                    <tr>
                        <th>Para:</th>
                        <td>[Lugar para onde está sendo enviado]</td>
                    </tr>
                    <tr>
                        <th>Assunto:</th>
                        <td>[Assunto do memorando]</td>
                    </tr>
                </table>

                <section id="corpoMemorando">
                    <p class="texto">
                    </p>
                </section>
            </div>
            <div id="footer">
                <p>
                <fieldset id="box-field">
                    <table>
                        <tr>
                            <th id="tituloTable2">RECEBIDO</td>
                        </tr>
                        <tr>
                            <td>Em: ____ /_____/____</td>
                        </tr>
                        <tr>
                            <td id=ass>Ass: ______________</td>
                        </tr>
                    </table>
 
            </div>
    </footer>
</body>
<hr>

<h1 id="title-footer">ARQUIVOS EM ANEXO</h1>


<!-- templates/upload.html -->
  <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
    {% csrf_token %}
    <div id="name-file">
        <table>
            <tr>
                <td>
                    <label for="id_name">Nome:</label>
                    <input type="text" name="name" id="id_name" required>
                </td>
            </tr>
            <tr>
                <td>
                    <section id="main-file">
                        <br>
                        <fieldset id="box-upload">
                            <div id="file-margin">
                            <label id="label-file"for="id_file">Arquivo:</label>
                            <div id="input-container">
                              <br><br>
                              <div id="container-file">
                              <input type="file" name="file" id="id_file" multiple>
                              <span><button type="button" id="addInput">+</button></span>
                            </div>
                            </div>
                        </fieldset>
                    </section>
                </td>
            </tr>
        </table>
      
    </div>
    <div>
      </div>
      <br>
      <div id="drop-area">
        Arraste e solte os arquivos aqui
      </div>
      <div id="italic-message">
        <em style="font-size: 0.6em;">Tamanho máximo: 50mb</em>
      </div>
    </div>
    <br>
    <div id="button-file">
    <button id="botao" type="submit">Enviar</button>
</div>
  </form>

  <script src="/static/js/memoMain.js"></script>
{% endblock %}