{% extends 'template.html' %}
{% block subtitulo %}
-- memo_main
{% endblock %}
{% block content %}

<body>
    <link rel="stylesheet" href="/static/css/style.css">
    <header>
        <form id = "form-main" method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
            {% csrf_token %}
            <div id="header">
                <img id="img" src="https://pedroschuenck.github.io/prefeituraImg.png" alt="Logo da prefeitura">
            </div>
            <hr>
            <div id="content">
                <table class="table" id="table-header">
                    <tr>
                        <th id="tituloTable" colspan="2">MEMORANDO</th>
                    </tr>
                    <tr>
                        <th>Data:</th>
                        <td><input type="date" name="data" value="{% now 'Y-m-d' %}"></td>
                    </tr>
                    <tr>
                        <th>Memo nº:</th>
                        <td><input type="text" id="proximo_numero" readonly value="{{ memo_numero_atualizado }}"></td>
                    </tr>
                    <tr>
                        <th>De:</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Para:</th>
                        <td><select name="select" id="select-secretaria">
                                <option value="0">-- Escolha a secretaria --</option>
                                <option value="1">Prefeito</option>
                                <option value="2">Controladoria Geral</option>
                                <option value="3">Fundação Dom João VI de Nova Friburgo</option>
                                <option value="4">Procuradoria Geral </option>
                                <option value="5">Secretaria Municipal da Casa Civil - EGCP</option>
                            </select></td>
                    </tr>
                    <tr>
                        <!-- <tr>
                            <td id="td-nome">
                                <label for="id_name">Nome:</label>
                                <input type="text" name="name" id="id_name" required>
                            </td>
                        </tr> -->
                        <th>Assunto:</th>
                        <td><input type="text" id="id_name" name="name"></td>
                    </tr>
                </table>

                <section id="corpoMemorando">
                    <textarea id="corpo" name="corpo"></textarea>
                </section>
            </div>
            <div id="footer">
                <p>
                <fieldset id="box-field">
                    <table>
                        <tr>
                            <th id="tituloTable2">RECEBIDO</td>
                        </tr>
                        <tr>
                            <td>Em: ____ /_____/____</td>
                        </tr>
                        <tr>
                            <td id=ass>Ass: ______________</td>
                        </tr>
                    </table>

            </div>
            </footer>
</body>
<hr>

<h1 id="title-footer">ARQUIVOS EM ANEXO</h1>


<!-- templates/upload.html -->
<br>
<div id="drop-area">
    Arraste e solte os arquivos aqui
  </div>
  <div id="italic-message">
    <em style="font-size: 0.7em;">Tamanho máximo: 50mb</em>
  </div>
</div>
<br><br>
<div id="name-file">
    <table>
        <tr>
            <td>
                <section id="main-file">
                    
                    <fieldset id="box-upload">
                        <div id="file-margin">
                        <label id="label-file"for="id_file">Arquivo:</label>
                        <div id="input-container">
                            <br><br>
                            <div id="container-file">
                                <input type="file" name="file" id="id_file" multiple required>
                                <span><button type="button" id="addInput">+</button></span>
                            </div>
                        </div>
                        </div>
                    </fieldset>
                </section>
            </td>
        </tr>
    </table>
</div>
<div>
</div>
<div id="button-file">
    <button id="botao" type="submit">Enviar</button>
</div>
<div id="verify-message">
    <em style="font-size: 0.6em;">Confira todo o memorando antes de eviar.</em>
  </div>
</form>

<script src="/static/js/memoMain.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#corpo',
        height: 500,
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        toolbar_mode: 'floating',
        toolbar: 'undo redo | formatselect | bold italic backcolor | \
                  alignleft aligncenter alignright alignjustify | \
                  bullist numlist outdent indent | removeformat | help',
        content_style: 'body { font-family: Arial, sans-serif; font-size: 14px; }',
        content_css: 'custom-styles.css',
    });
</script>
{% endblock %}