{% extends 'template.html' %}
{% block subtitulo %}
- Gerar PDF
{% endblock %}
{% block content %}
<html class="page_main" lang="pt-br">
    <body class="cor">
        <link rel="stylesheet" href="/static/css/style.css" />
        <fieldset id="box-upload">
            <h1 id="title-upload">Memorando enviado</h1>
            <p id="subtitle-upload">O arquivo foi carregado com sucesso.</p>
            <div class="link-container">
                <a id="link-upload">Novo memorando</a>
            </div>
            <div class="link-container">
                <a id="link-upload-pdf" href="{% url 'gerar_pdf' memorando.id %}" target="_blank"> <img id="img-pdf" src="/static/img/pdf.png" alt="imagem do pdf" />Gerar PDF</a>
            </div>
            <div id="modal-upload">
                <div class="modal-content">
                    <span class="fechar">&times;</span>
                    <p style="font-size: 17px;">Deseja fazer um novo memorando?</p>
                    <div class="button-container">
                        <button type="button" id="nao-envia-modal" class="btn btn-danger btn-sm">Não</button>
                        <button type="button" id="envia-modal" class="btn btn-success btn-sm">Sim</button>
                    </div>
                </div>
            </div>
        </fieldset>
        <script src="/static/js/upload_success.js"></script>
    </body>
</html>
{% endblock %}