{% extends 'template.html' %}
{% block subtitulo %}
- PDF
{% endblock %}
{% block content %}

{% load custom %}

<html class="page_visualiza" id="page_visualiza">

<body id="body-visualiza">
    <div id="corpo-visualiza">
        <link rel="stylesheet" href="/static/css/style.css" />
        {% comment %} {% endcomment %}
        <form id="form-main" method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
            {% csrf_token %}
            <div id="header">
                <div id="button-visualiza">
                    <button type="button" class="back">
                        <a class="link-visualiza" id="voltar-visualiza-moc" href="{% url 'consulta_memo' %}">
                            <img id="voltar-visualiza" src="/static/img/botao-voltar.png" width="30"alt="back">
                            Voltar
                        </a>
                    </button>
                    <button type="button" class="back">
                        <a id="baixa-pdf-visualiza" class="link-visualiza" href="{% url 'geraPdfVisualiza' memorando.id tipo %}">
                            <img src="/static/img/pdf.png" width="30" alt="back">
                            Gerar PDF
                        </a>
                    </button>
             </div>
                {% comment %}{% endcomment %}
                <img class="img-visualiza" src="https://pedroschuenck.github.io/prefeituraImg.png" alt="Logo da prefeitura" />
            </div>
            <hr class="hr-visualiza"/>
            <div id="content-visualiza">
                <table class="table-visualiza">
                    <tr>
                        <th style="text-align: center;" id="tituloTable" colspan="2">MEMORANDO</th>
                    </tr>
                    <tr>
                        <th class="th-visualiza" style="vertical-align: middle;">Data:</th>
                        <td class="td-visualiza">
                            <p style="margin-bottom: 2px;">{{ data_atual }}</p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th-visualiza" style="vertical-align: middle;">Número do memorando:</th>
                        <td class="td-visualiza"><span id="memo_numero">{{memo_numero}}</span></td>
                    </tr>
                    <tr>
                        <div id="teste">
                            <th id="teste" class="th-visualiza" style="vertical-align: middle;">De:</th>
                        </div>
                        <td class="td-visualiza">
                            {{ grupo_remetente.name }}
                            <br>
                            {{ remetente.get_full_name }}
                        </td>
                    </tr>
                    <tr>
                        <div id="teste">
                            <th id="teste" class="th-visualiza" style="vertical-align: middle;">Matrícula:</th>
                        </div>
                        <td class="td-visualiza">
                            {{ usermoc.matricula }}
                        </td>
                    </tr>
                    {% if tipo != 'Circular'%}
                    <tr>
                        <th class="th-visualiza" style="vertical-align: middle;">Para:</th>
                        <td class="td-visualiza" id="secretaria-escolhida">
                            {% if tipo != 'Oficio'%}
                            {% for grupo in grupo_escolhido %}
                            <ul>
                                <li id="li-para" style="margin-bottom: -10px;">
                                    {{ grupo.name }}
                                </li>
                            </ul>

                            {% endfor %}
                            {% else %}
                            <ul>
                                <li id="li-para" style="margin-bottom: -10px;">
                                    {{ grupo_escolhido }}
                                </li>
                            </ul>
                            {% endif %}
                        </td>
                    </tr>
                    {% if grupo_escolhido_copia|length > 0 %}
                    <tr>
                        <th class="th-" style="vertical-align: middle;">Cópia para:</th>
                        <td class="td-visualiza" id="secretaria-escolhida">
                            {% if tipo != 'Oficio'%}
                            {% for grupo in grupo_escolhido_copia %}
                            <ul>
                                <li id="li-cop" style="margin-bottom: -10px;">
                                    {{ grupo.name }}
                                </li>
                            </ul>
                            {% endfor %}
                            {% else %}
                            <ul>
                                <li id="li-para" style="margin-bottom: -10px;">
                                    {{ grupo_escolhido_copia }}
                                </li>
                            </ul>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                    <tr>
                        <th class="th-visualiza" style="vertical-align: middle;">Assunto:</th>
                        <td class="td-visualiza">
                            <p style="margin-bottom: 2px;">{{ memorando_assunto }}</p>
                        </td>
                    </tr>
                </table>
                <div style=" margin-top: 10px; text-align: justify; word-wrap: break-word;" id="corpo-memorando-visualiza" contenteditable="false">{{text_content|safe }}</div>
                <div class="endereco-container">
                    <span class="grupomoc-endereco">{{grupomoc.endereco}}</span>
                </div> 
            </div>
            <script src="/static/js/generate_pdf.js"></script>
        </form>
    </div>
    <div class="img-container">
        {% for anexo in anexos %}
        <img src='/fileStorage/{{anexo.file}}' style="width: 85%; margin: 25px;"></img>
        {% endfor %}
    </div>
    <div id="modal-pdf">
        <div style="height: 45%;" class="modal-content">
            <span class="fechar-pdf">&times;</span>
            <div style="text-align: center;">
                <p style="font-size: 17px; text-align: center; align-items: center;"><strong
                        style="margin: 1px;">Aguarde!</strong>
                    <hr style="margin-bottom: 10px;"> O seu memorando já está sendo baixado. <br><br>
                <div id="dot-container">
                    <p id="first-dot" class="dot">○</p>
                    <p id="second-dot" class="dot">○</p>
                    <p id="third-dot" class="dot">○</p> <br>
                </div>
                <div id="image-container"><img width=30 src='/static/img/check.png' alt='check' id="check-img" style="display: none; margin: 0 auto"></div>
                <span style="font-size: 0.5em;">Pode fechar esse aviso.</span>
                </p>
            </div>
            <div class="button-container">
                <button type="button" id="ok-modal-pdf" class="btn btn-dark btn-sm">Ok</button>
            </div>
        </div>
    </div>
    <script src="/static/js/visualiza.js"></script>
</body>

</html>

{% endblock %}